---
layout: default
title: Blog Posts
---

<div id="home">
  <ul id="blog-posts" class="posts">
<div align="center"><h2>Professional Work</h2></div>
{% for post in site.categories.pro-portfolio %}
<span style="position: relative; left: 0px;">
	   <a href="{{ post.target }}">
	   	<h3 style="margin:0em 0">{{ post.title }}</h3><hr style="border-color:#AFAFAF;">
	  <img src="/images/{{ post.title }}.png"  align="right" style="margin:0 0 0 1em; max-width:60%"></img></a><span style="color:#444444">{{ post.snippet }}</span>
		<br>
		<br>
		<br>
</span>
</ul>
    {% endfor %}
    <br><br>

<div align="center"><h2>Personal Projects</h2></div>
  <ul id="blog-posts" class="posts">

{% for post in site.categories.portfolio %}
<span style="position: relative; left: 0px;">
	   <a href="{{ post.target }}">
	   	<h3 style="margin:0em 0">{{ post.title }}</h3><hr style="border-color:#AFAFAF;">
	  <img src="/images/{{ post.title }}.png" align="right" style="margin:0 0 0 1em; max-width:60%"></img></a><span style="color:#444444">{{ post.snippet }}</span>
		<br>
		<br>
		<br>
		<br>
		<br>
</span>

    {% endfor %}
  
  </ul>
</div>