<nav>
  <a href="/">
    <img src="/logo.jpg" id="logo" alt="Blog logo" width="200" height="200"/>
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>I do graphics and engine programming for games. </p>
    <p>I'm the author of <a href="https://www.amazon.com/Practical-Shader-Development-Fragment-Developers/dp/1484244567">Practical Shader Development</a>, which is all about learning to write shaders.
    <p>I also dabble in GBA dev, you can find my tutorials <a href="/gba.html">here.</a>
    <p>Check out <a href="/archive.html">some other stuff I've written</a></p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
