<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
	<meta name="description" content="Kyle Halladay Game Development" />
	<meta name="keywords" content="life,code,software,development,games,ludology,indie" />
	<link rel="stylesheet" type="text/css" href="/css/default.css" />
	<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />

<title>Kyle Halladay - Toronto Game Developer</title>
</head>

<body>
	<div id="wrap">
		<div id="header">
			<p id="toplinks">

			</p>

			<h1><a href="/"><div id="logo"></div><span class="fade">Kyle Halladay</span></a></h1>
			<div class="slogan"> 
					<a href="/os.html" class="red">Life</a> ||
					<a href="/os.html" class="lime">Game Dev</a> ||
					<a href="/life.html" class="purple">My Work</a> ||
					<a href="/life.html" class="paleorange">About Me</a>
			</div>

	</div>
<div id="content">  
  {{ content }}
</div>

<div id="footer">

	<a href="mailto:k.mj.halladay@gmail.com" class="footerlink">E-mail</a> |
    <a href="http://ca.linkedin.com/pub/kyle-halladay/2b/658/a14/" class="footerlink">LinkedIn</a> |
    <a href="http://twitter.com/khalladay" class="footerlink">Twitter</a>

<p>&copy; 2013 <a href="/about.html" class="footerlink">Kyle Halladay</a>

</div>
</div>
</body>
</html>

