<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
<meta name="description" content="Dan Hixon Codes" />
<meta name="keywords" content="video,games,programming,software,development,unity3d" />
<meta name="author" content="Dan Hixon" />
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<link rel="stylesheet" type="text/css" href="/css/pretty_code.css" />
<link rel="alternate" type="application/atom+xml" href="http://danhixon.github.com/atom.xml" />

<title>kylehalladay.com</title>
</head>

<body>
<div id="wrap">
	<div id="header">
		<p id="toplinks">

		</p>

		<h1><a href="/"><div id="logo"></div>über<span class="fade">duper</span></a></h1>
		<div class="slogan">
				<a href="/code.html" class="pink">code{web}</a> :|: 
				<a href="/os.html" class="green">software{apple}</a> :|: 
				<a href="/life.html" class="orange">life{me}</a>
		</div>

</div>

<div id="content">  
  {{ content }}
</div>

<div id="footer">

    Keep in touch with family:<a href="http://www.spokt.com">spokt.com</a> ||
    <a href="ca.linkedin.com/pub/kyle-halladay/2b/658/a14/">Linkedin</a> ||
    <a href="http://twitter.com/khalladay">twitter</a>

<p>&copy; 2010 <a href="/about.html">Kyle Halladay</a>

</div>

</div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4105222-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>

